{
    "env": {
        "browser": true,
        "commonjs": true,
        "node": true
    },
    "extends": [
        "airbnb-base"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2016
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "no-console": "off",
        "import/prefer-default-export": 0,
        "import/extensions": "off"
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"],
                "extensions": [
                    ".js",
                    ".jsx",
                    ".ts",
                    ".tsx"
                ]
            }
        }
    }
}